<%- include('layout', { title: 'Poker Games', user: user}) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Poker Now Games</title>
    <style>
        h1 {
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
            
        }
        ul {
            list-style-type: none;
        }
        p {
            color: #ffffff;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    
    <h1>Poker Now Tables</h1>
    <% if (discordUsername) { %>
    
      <div class="pokerpanel"><p>Welcome, <strong><%= discordUsername %></strong>.<br> <strong><a href="https://discord.com/channels/913269267691094026/1192942161747001344">Use your PAT to buy or cashout your poker chips in our #poker channel on Discord!</strong></p></a><br>Commands:<br> <strong>/buyin [amount]<br> /cashout [amount]</strong></div>
      <% } else { %>
          <div class="pokerpanel"><p>You must connect to the Public Access Discord to play.<br><br></p>          <div id="discordLoginDiv">  <button id="discordLoginButton" onclick="loginWithDiscord()" class="discord-btn">
            
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%" height="50px" viewBox="0 -28.5 256 256" version="1.1" preserveAspectRatio="xMidYMid">
                <g>
                    <path
                        d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                        fill="#FFFFFF" fill-rule="nonzero">

                    </path>
                </g>
            </svg>

            <span>Continue with Discord</span>
          
        </button></div></div>
        <% } %>
    <% if (games && games.length > 0) { %>
        <% games.forEach(game => { %>
            <a href="<%= game.url %>"><div class="pokerpanel" style="border-style: solid">
                
                <!-- <strong>Game ID:</strong> <%= game.pokerNowId %><br> -->
                <div class="pokerpanelheader"><img src="/public/img/coin.png" alt="Avatar" class="user-avatar" id="avatar-<%= game.pokerNowId %>" height="50px" />
                <h3><strong><%= game.displayname %></strong>'s Table (<%= game.blinds %>)</h3></div><br>
                <strong><a href="<%= game.url %>">Poker Now Link</a></strong><br><br>
                Created: <%= new Date(game.date_created).toLocaleString() %>
            
        </div></a> 
         
            <% }) %>
            <% if (discordUsername) { %>
            <a href="https://discord.com/channels/913269267691094026/1192942161747001344">
            <div class="pokerpanel"><p>No more tables.<br><br> <strong>Start a new table</strong> in our #poker channel!</p>
            <br>Commands:<br> <strong>/new-game [small blind] [big blind]<br></strong></div></a>
            <% } else { %>
              <% } %>
        <% } else { %>
          <% if (discordUsername) { %>
            <a href="https://discord.com/channels/913269267691094026/1192942161747001344">
              <div class="pokerpanel"><p>No active tables.<br><br> <strong>Start a new table</strong> in our #poker channel!</p>
                <br>Commands:<br> <strong>/new-game [small blind] [big blind]<br></strong></div></a>
            <% } else { %>
              <% } %>

            <% } %>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const games = <%- JSON.stringify(games) %>; // Pass the games data to the frontend
      
      games.forEach(function (game) {
        fetch(`/api/u/${game.username}/profile`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.avatar) {
              // Update the avatar image for this game
              const avatarElement = document.getElementById(`avatar-${game.pokerNowId}`);
              avatarElement.src = data.avatar;
            }
          })
          .catch(error => {
            console.error('Error fetching avatar for user', game.username, error);
          });
      });
    });

    <!-- Include this script to handle the button click -->

    function loginWithDiscord() {
        window.location.href = '/auth/discord';
    }

  </script>