<%- include('layout', { title: 'Poker Games', user: user}) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Poker Now Games</title>
    <style>
        h1 {
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
            
        }
        ul {
            list-style-type: none;
        }
        p {
            color: #ffffff;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    
    <h1>Poker Now Tables</h1>

    <% if (games && games.length > 0) { %>
        <% games.forEach(game => { %>
            <a href="<%= game.url %>"><div class="pokerpanel">
                
                <!-- <strong>Game ID:</strong> <%= game.pokerNowId %><br> -->
                <div class="pokerpanelheader"><img src="/public/img/coin.png" alt="Avatar" class="user-avatar" id="avatar-<%= game.pokerNowId %>" height="50px" />
                <h3><strong><%= game.displayname %></strong>'s Table (<%= game.blinds %>)</h3></div><br>
                <strong><a href="<%= game.url %>">Poker Now Link</a></strong><br><br>
                Created: <%= new Date(game.date_created).toLocaleString() %>
            
        </div></a> 
         
            <% }) %>
            <a href="https://discord.com/channels/913269267691094026/1192942161747001344">
            <div class="pokerpanel"><p>No more tables.<br><br> <strong>Start a new table</strong> in our #poker channel!</p></div></a>
        <% } else { %>
            <a href="https://discord.com/channels/913269267691094026/1192942161747001344">
            <div class="pokerpanel"><p>No active tables.<br><br> <strong>Start a new table</strong> in our #poker channel!</p></div></a>
            <% } %>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const games = <%- JSON.stringify(games) %>; // Pass the games data to the frontend
      
      games.forEach(function (game) {
        fetch(`/api/u/${game.username}/profile`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.avatar) {
              // Update the avatar image for this game
              const avatarElement = document.getElementById(`avatar-${game.pokerNowId}`);
              avatarElement.src = data.avatar;
            }
          })
          .catch(error => {
            console.error('Error fetching avatar for user', game.username, error);
          });
      });
    });
  </script>